# meta
.vscode/
__pycache__/

# data
datasets/*
!datasets/train_full_images.json

# downloads
downloads/*
!downloads/*.cmd

# sdk
tpu-mlir/
tpu-sdk-cv180x-ocr/

# cvimodel build
build/

# generated predict
results/

# logs
log/
*.log
