# meta
.vscode/
__pycache__/

# data
datasets/

# downloads
downloads/*
!downloads/*.cmd

# sdk & cross-compile stuff
tpu-mlir/
duo-sdk/
sophon-sail/

# generated
results/
tmp/

# logs
log/
*.log

# lprof
*.lprof
