# meta
.vscode/
__pycache__/

# data
datasets/

# downloads
downloads/*
!downloads/*.cmd

# sdk & cross-compile stuff
tpu-mlir/
duo-sdk/
sophon-sail/
cviruntime/
tpu-sdk-cv180x/
tpu-sdk-cv180x-ocr/
build_sophon_sail/*
!build_sophon_sail/*.sh
!build_sophon_sail/*.cmake

# generated
results/
tmp/

# logs
log/
*.log

# lprof
*.lprof
